.image-background {
    background-image: url(https://images5.alphacoders.com/319/thumb-1920-319578.jpg);
    background-size: cover;
    /*IMPORTANTE*/
    height: 100vh;
}

* {
    padding: 0;
    box-sizing: border-box;
    padding-top: 5px;
}

body {
    display: inline-block;
    border: none !important;
}

.container {
    width: 40%;
    margin: auto;
    background: rgba(12, 12, 12, 0.7);
    border-radius: 5px;
    padding: 10px;
    padding-top: 25px;
    margin-top: 50px;
}

.example-spacer {
    flex: 1 1 auto;
}

#invoice {
    color: rgb(238, 127, 1);
    position: relative;
}

label {
    color: white;
}

#car {
    color: white;
    padding-left: 0px;
    width: 55px;
}

.mat-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
}

.mat-toolbar {
    background: rgb(247, 136, 10);
}

.input {
    width: 50%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(247, 136, 10);
    border-radius: 5px;
    box-sizing: border-box;
}

.btn-submit {
    margin-left: 10px !important;
    width: 30%;
    background: rgb(247, 136, 10);
    color: white;
    padding: 7px 20px;
    margin: 2px 0;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: help;
}

.btn-submit:hover {
    background: white;
    color: rgb(248, 233, 15);
}

#title-tool {
    color: white;
}

#crazy {
    color: transparent;
}

h1 {
    width: 100%;
    margin: auto;
    text-align: center;
    color: rgb(247, 136, 10);
    margin-bottom: 15px;
}
