<p>
    <mat-toolbar class="lol">
        <mat-icon id="car">directions_car</mat-icon>
        <span id="title-tool">Car Parking</span>
        <span class="example-spacer" id="crazy"></span>
        <button mat-raised-button color="warn" [routerLink]="'/mainUser'">return</button>
    </mat-toolbar>
</p>

<div class="image-background">

    <form #loginForm="ngForm" id="loginForm" class="form">
        <div class="container">

            <h1 class="title">Invoice</h1>
            <!--<mat-icon id="invoice">request_page</mat-icon><br> -->
            <label id="label">Document: </label>
            <input type="number" id="n1" class="input" name="document">
            <input type="button" class="btn-submit" value="Next">
        </div>
    </form>

</div>
