<mat-drawer-container class="example-container" class="image-background">
    <mat-drawer mode="side" opened class="nav">
        <mat-icon id="account">account_box</mat-icon><br> Perfil
    </mat-drawer>



    <mat-drawer-content>
        <p>
            <mat-toolbar class="lol">
                <mat-icon id="car">directions_car</mat-icon>
                <span id="title-tool">Car Parking</span>
                <span class="example-spacer" id="crazy"></span>
            </mat-toolbar>
        </p>
    </mat-drawer-content>
</mat-drawer-container>
