<mat-drawer-container class="example-container" class="image-background">
    <mat-drawer mode="side" opened class="nav">
        <mat-icon id="account">account_box</mat-icon><br> User<br>
        <mat-divider></mat-divider><br><br>
        <button mat-button color="primary">Actions</button><br>
        <button mat-raised-button color="warn" [routerLink]="'/addCar'">Add car</button><br><br>
        <button mat-raised-button color="warn" [routerLink]="'/seeCar'">See cars</button><br>
        <button mat-raised-button color="warn" [routerLink]="'/homeApp'" id="exit"> Exit </button>
    </mat-drawer>

    <h1>Main Tray</h1>
    <mat-divider></mat-divider>
